* {
	margin: 0;
	padding: 0;
	color: #fff;
	list-style: none;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;
}

img {
	border: 0;
}

body {
	background: #222;
	position: relative;
	background: url(../images/body.jpg);
}

#map {
	background: url(../images/map-1.png) no-repeat black;
	width: 1200px;
	height: 675px;
	overflow: hidden;
}

#action-bar {
	height: 50px;
	background: rgba(1,1,1,0.1);
	width: 1200px;
	position: absolute;
	bottom: 50px;
}