* {
	margin: 0;
	padding: 0;
	color: #fff;
	list-style: none;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;
}

img {
	border: 0;
}

body {
	background: #222;
	position: relative;
	background: url(../images/body.jpg);
}

#Home{
	width: 1200px;
	height: 725px;
	background: url(../images/Menu0.jpg) no-repeat black;
	position: relative;
}

#logoimg{
	width:441px;
	height: 82px;
	position: absolute;
	left:380px;
	top:50px;
	background: url(../images/logo.gif) no-repeat;
}

#GameBox {
	background: #333;
	width: 1200px;
	height: 725px;
	position: relative;
}

#map {
	background: url(../images/map-1.png) no-repeat black;
	width: 1200px;
	height: 675px;
	overflow: hidden;
}

#action-bar {
	height: 50px;
	background: rgba(1,1,1,0.1);
	width: 1200px;
	position: absolute;
	bottom: 50px;
}

#role,#hero {
	position: absolute;
	width: 130px;
	height: 130px;
	overflow: hidden;
}

#role-body,#heroimg {
	width: 130px;
	height: 130px;
	background: url(../images/plstand.gif) no-repeat;
}

#heroimg {
	display: block;
}