#action-bar {
    width: 1200px;
    height: 55px;
    padding-top: 5px;
    overflow: hidden;
    background: rgba(1, 1, 1, 0.8);
}

#action-bar ul {
    margin: 0;
}

#action-skill-bar {
    overflow: hidden;
    float: left;
}

#action-skill-bar li {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 4px;
    border: 1px solid #bbb;
    background-size: 113% 113%;
    background-position: center;
    padding-left: 2px;
    position: relative;
}

#action-skill-bar .nomana::after {
    content: '';
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(25, 25, 150, 0.7);
}

#action-skillcd-bar {
    overflow: hidden;
    width: 432px;
    height: 50px;
    position: absolute;
    left: 0;
    filter: drop-shadow(0 0 10px #fff);
}

#action-skillcd-bar li {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 4px;
    background: rgba(1, 1, 1, 0);
    position: absolute;
    top: 0;
    cursor: pointer;
}

#action-bar .cding {
    background: rgba(1, 1, 1, 0.6);
}

#action-bar .bling {
    background: rgba(1, 1, 1, 0.05);
    border: 2px solid #fff;
}

#action-bag-bar {
    overflow: hidden;
    float: right;
}

#action-bag-bar li {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 4px;
    border: 1px solid #bbb;
    background-size: 113% 113%;
    background-position: center;
    padding-left: 2px;
}

#action-bagnum-bar {
    overflow: hidden;
    width: 324px;
    height: 50px;
    position: absolute;
    right: 0;
}

#action-bagnum-bar li {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 4px;
    text-align: right;
    padding-right: 3px;
    padding-top: 30px;
    font-size: 14px;
    color: #bbb;
    position: relative;
}

#action-bagnum-bar .nomana::after {
    content: '';
    width: 48px;
    height: 48px;
    position: absolute;
    left: 1px;
    top: 1px;
    background: rgba(1, 1, 1, 0.5);
}

#action-bagcd-bar {
    overflow: hidden;
    width: 324px;
    height: 50px;
    position: absolute;
    right: 0;
    filter: drop-shadow(0 0 5px cyan);
}

#action-bagcd-bar li {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 4px;
    background: rgba(1, 1, 1, 0);
    position: absolute;
    top: 0;
    cursor: pointer;
}