#map {
    width: 1200px;
    height: 675px;
    overflow: hidden;
    position: relative;
}

.map-0 {
    background: url(../images/map/map-0.png) no-repeat black;
}

.map-1 {
    background: url(../images/map/map-1-shaolin.png) no-repeat black;
}

.map-2 {
    background: url(../images/map/map-2-shaolin.png) no-repeat black;
}

.map-3 {
    background: url(../images/map/map-3-murenxiang.png) no-repeat black;
}

.map-4 {
    background: url(../images/map/map-4-murenxiang.png) no-repeat black;
}

.map-5 {
    background: url(../images/map/map-5-songshan.png) no-repeat black;
}

.map-6 {
    background: url(../images/map/map-6-songshan.png) no-repeat black;
}

.map-7 {
    background: url(../images/map/map-7-wudang.png) no-repeat black;
}

.map-8 {
    background: url(../images/map/map-8-wudang.png) no-repeat black;
}

.map-9 {
    background: url(../images/map/map-9-wudangdaochang.png) no-repeat black;
}

.map-10 {
    background: url(../images/map/map-1.png) no-repeat black;
}

.map-11 {
    background: url(../images/map/map-11-shunanzhuhai.png) no-repeat black;
}

.map-12 {
    background: url(../images/map/map-12-shunanzhuhai.png) no-repeat black;
}

.map-13 {
    background: url(../images/map/map-13-tangmen.png) no-repeat black;
}

.map-14,
.map-15 {
    background: url(../images/map/map-1.png) no-repeat black;
}

.map-16 {
    background: url(../images/map/map-16-emei.png) no-repeat black;
}

.map-17 {
    background: url(../images/map/map-17-dashamo.png) no-repeat black;
}

.map-18 {
    background: url(../images/map/map-18-dashamo.png) no-repeat black;
}

.map-19 {
    background: url(../images/map/map-19-mojiao.png) no-repeat black;
}