#map {
    width: 1200px;
    height: 675px;
    overflow: hidden;
}

.map-1 {
    background: url(../images/map-1.png) no-repeat black;
}

.map-2 {
    background: url(../images/map-2.png) no-repeat black;
}