#map {
    width: 1200px;
    height: 675px;
    overflow: hidden;
}

.map-0 {
    background: url(../images/map/map-0.png) no-repeat black;
}

.map-1 {
    background: url(../images/map/map-1-shaolin.png) no-repeat black;
}

.map-2 {
    background: url(../images/map/map-2-shaolin.png) no-repeat black;
}

.map-3 {
    background: url(../images/map/map-3-murenxiang.png) no-repeat black;
}

.map-4 {
    background: url(../images/map/map-4-murenxiang.png) no-repeat black;
}

.map-5,
.map-6 {
    background: url(../images/map/map-11.png) no-repeat black;
}

.map-7,
.map-8 {
    background: url(../images/map/map-11.png) no-repeat black;
}

.map-9 {
    background: url(../images/map/map-11.png) no-repeat black;
}

.map-10 {
    background: url(../images/map/map-6.png) no-repeat black;
}

.map-11 {
    background: url(../images/map/map-11-shunanzhuhai.png) no-repeat black;
}
.map-12 {
    background: url(../images/map/map-12-shunanzhuhai.png) no-repeat black;
}

.map-13 {
    background: url(../images/map/map-13-tangmen.png) no-repeat black;
}

.map-14,
.map-15 {
    background: url(../images/map/map-9.png) no-repeat black;
}

.map-16 {
    background: url(../images/map/map-16-emei.png) no-repeat black;
}

.map-17,
.map-18 {
    background: url(../images/map/map-11.png) no-repeat black;
}

.map-19 {
    background: url(../images/map/map-12.png) no-repeat black;
}