#loading-screen {
    width: 1200px;
    height: 675px;
    background: url(../images/loading.gif) no-repeat 120px 130px black;
    position: absolute;
    z-index: 1000;
    display: none;
}

#loading-progress {
    width: 480px;
    height: 4px;
    position: absolute;
    left: 360px;
    top: 500px;
}

.Portal {
    position: absolute;
    width: 100px;
    height: 80px;
    background: url(../images/portal.png) no-repeat;
}

.Portal-L {
    top: 450px;
    left: 0px;
    z-index: 400;
}

.Portal-R {
    top: 450px;
    right: 0px;
    z-index: 400;
}

.Portal-M {
    top: 450px;
    left: 550px;
    z-index: 400;
}

.Portal-songshan {
    top: 250px;
    left: 600px;
    z-index: 200;
}

.Portal-wudang {
    top: 440px;
    left: 580px;
    z-index: 390;
}

.Portal-tiezhangfeng {
    top: 400px;
    left: 500px;
    z-index: 350;
}

.Portal-shunanzhuhai {
    top: 500px;
    left: 200px;
    z-index: 450;
}

.Portal-jueqinggu {
    top: 600px;
    left: 600px;
    z-index: 550;
}

.Portal-emei {
    top: 650px;
    left: 0;
    z-index: 600;
}

.Portal-dashamo {
    top: 150px;
    left: 100px;
    z-index: 100;
}