#role,
#npc {
    position: absolute;
    border: 2px solid white;
}

#role-body {
    position: absolute;
    top: 0;
    left: 0;
}

#skill-body {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid purple;
}

#role-hited-judge {
    width: 67px;
    height: 124px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
}

#role-hit-judge {
    width: 0px;
    height: 0px;
    border: 1px solid yellow;
    position: absolute;
    top: 0;
    left: 0;
}

.plstand #role-body {
    width: 67px;
    height: 124px;
    background: url(../images/plstand.gif) no-repeat;
}

.plmove #role-body {
    width: 70px;
    height: 122px;
    background: url(../images/plmove.gif) no-repeat;
}

.plskill-x #role-body {
    width: 192px;
    height: 192px;
    background: url(../images/skill-x.png) no-repeat;
}

.plskill-z #role-body {
    width: 192px;
    height: 192px;
    background: url(../images/skill-z.png) no-repeat;
}

.plskill-a #role-body {
    width: 192px;
    height: 190px;
    background: url(../images/skill-a.png) no-repeat;
}

.plskill-a #skill-body {
    width: 250px;
    height: 190px;
    background: url(../images/技能A特效.png) 250px no-repeat;
}

.plskill-f #role-body {
    width: 192px;
    height: 192px;
    background: url(../images/skill-f.png) no-repeat;
}

.plskill-f #skill-body {
    width: 384px;
    height: 192px;
    background: url(../images/技能F特效.png) 384px no-repeat;
}

#enemy {
    position: absolute;
    border: 2px solid white;
}

#enemy-body {
    position: absolute;
    top: 0;
    left: 0;
}

#enemy-hited-judge {
    width: 0px;
    height: 0px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
}

#enemy-hit-judge {
    width: 0px;
    height: 0px;
    border: 1px solid yellow;
    position: absolute;
    top: 0;
    left: 0;
}

#enemy-hp {
    height: 5px;
    position: absolute;
    top: -10px;
    left: 0;
    border: 1px solid #bbb;
}

#enemy-name {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#npc {
    left: 700px;
    top: 500px;
    z-index: 500;
}

#npc-body {
    width: 130px;
    height: 130px;
    background: url(../images/npcmed.gif) no-repeat;
    cursor: pointer;
}