#role,
#npc {
    position: absolute;
    background-color: purple;
}

#role-body {
    position: absolute;
    top: 0;
    left: 0;
}

#role-hited-judge {
    width: 67px;
    height: 124px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
}

#role-hit-judge {
    width: 0px;
    height: 0px;
    border: 1px solid yellow;
    position: absolute;
    top: 0;
    left: 0;
}

.plstand #role-body {
    width: 67px;
    height: 124px;
    background: url(../images/plstand.gif) no-repeat;
}

.plmove #role-body {
    width: 70px;
    height: 122px;
    background: url(../images/plmove.gif) no-repeat;
}

.plskill1 #role-body {
    width: 192px;
    height: 192px;
    background: url(../images/普通攻击.png) no-repeat;
}

#enemy {
    position: absolute;
    overflow: hidden;
    border: 1px solid red;
    left: -130px;
    top: -130px;
}

#enemy-hp {
    margin: 5px auto 0;
    width: 50px;
    height: 3px;
}

#enemy-name {
    text-align: center;
}

#enemy-body.ellstand,
#enemy-body.ellmove,
#enemy-body.ellback,
#enemy-body.ellhited,
#enemy-body.ellattack1 {
    width: 0;
    height: 0;
    background: url(../images/plstand.gif) no-repeat;
}

#npc {
    left: 700px;
    top: 500px;
    z-index: 500;
}

#npc-body {
    width: 130px;
    height: 130px;
    background: url(../images/npcmed.gif) no-repeat;
    cursor: pointer;
}