#npc {
    position: absolute;
}

#npc-body {
    transition: transform 0.5s;
    cursor: pointer;
}

#npc-name {
    width: 150px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#npc-name span {
    color: yellow;
}